%h2 Welcome!
%p To set up this gizmo we need to know a little bit about your house.
= simple_form_for @house, :html => {:class => 'form-inline' } do |form|
  = form.error_notification
  .inputs
    = form.input :address,
                 placeholder: "What's your postal address?"

    = form.input :name,
                 label: "House Name",
                 placeholder: "What's your house called?"
  .actions
    = form.button :submit
