%h2
  = house.name
  %sup= link_to "Edit house", edit_house_path
= simple_form_for house, :html => {:class => 'form-inline' } do |form|
  .inputs
    = simple_fields_for :board do |board_f|
      = board_f.input :title
      = board_f.input :content,
                      placeholder: "Groceries, todos, whatever",
                      input_html: { class: "span6" }
  .actions
    = form.button :submit
= debug house.board.versions
- if house.board.versions.present?
  - house.board.versions.reverse.first(5).each do |version|
    - if version = version.reify
      - title = version.title.blank? ? "No title" : version.title
      - updated_at = distance_of_time_in_words_to_now version.updated_at
      - title = "#{title} – " + "#{updated_at} ago"
      %p= link_to title, "url_to_be_filled_in_later"
