= simple_form_for board, :html => {:class => 'form-inline' } do |form|
  .inputs
    = debug board
    = form.input :title
    / = form.input board.content,
    /              placeholder: "Groceries, todos, whatever",
    /              input_html: { class: "span6" }
    / - if house.versions
    /   - house.versions.reverse.first(5).each do |version|
    /     / TODO Make this a helper or a partial.
    /     - if version = version.reify
    /       - title = version.board_title.blank? ? "No title" : version.board_title
    /       - updated_at = distance_of_time_in_words_to_now version.updated_at
    /       - title = "#{title} – " + "#{updated_at} ago"
    /       %p= link_to title, "url_to_be_filled_in_later"
  .actions
    = form.button :submit
